
.bajar {
    margin-top: 90px;

}

body {
    background-image :url('../../storage/img/fondo_juego.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cat {
    height:85px;
    width: 85px;
}


.img_naipe{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cat2 {
    height: 50px;
    width: 50px;
    margin-left: 15px;
}
